<head>
<style>
li{
  margin: 10px 0;
}
</style>
  <p>to-do:</p>
  <ul>
    <li>Once I'm near a good internet connection, make this look good</li>
    <li>Add an actual to-do list section instead of doing this through html</li>
    <li>Potentially add a section for longer blog posts once I have something worth talking about.</li>
    
  <h2>What I've learned since 23 June, 2017</h2>

</head>

<body>
  
  {% for i in post reversed  %}
  <li>{{ i }} -- {{ i.pub_date }}</li>
  {% endfor %}
  

</body>
