<head>


  <link href='https://fonts.googleapis.com/css?family=Nova+Mono' rel='stylesheet' type='text/css'>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  

<style>
#overrides {
  padding-left: 10px;
}
h1,
h2,
h3{
  font-family: 'Nova Mono', Arial, sans-serif;
}
li{
 
  margin: 10px 0;
}

</style>
{% load static %}
<img src = '{% static 'posts/mypic.JPG' %}' alt = '?'/>
<div class = 'container'>
  <div style class = 'row'>
    <div 'col-sm-4'>

      
      <h1>What I've learned since 23 June, 2017</h1>
    </div>
  </div>
</div>
  

</head>

<body>
  <div class = 'container'>
    <div class = 'row'>
      <div class = 'col-sm-4'>
      {% for i in post reversed  %}
      <li>{{ i }} -- {{ i.pub_date }}</li>
      {% endfor %}
      </div>
      <div class = 'col-sm-7 pull-right'>
        <h3>to-do:</h3>
      {% for i in to_do_list %}
        <li>{{ i }}</li>
      {% endfor %}
        </div>

    </div>
  </div>

  <!-- Latest compiled and minified CSS -->

</body>
